.ho1{background-color:gray;}
.ho2{background-color:blue;}
.ho3{background-color:orange;}
.ho4{background-color:red;}
.ho5{background-color:green;}
div{text-aling:center;font-style: 14pt Times New Roman;}
#b1{background-color:brown;text-aling:center;font-style: 14pt Times New Roman;
width:12000px;
  padding: 190px;
  margin: 20px;
}
#b2{text-aling:center;font-style: 14pt Times New Roman;
width:900px; 
height:500px
 margin: 20px;
float:left;}
#b3{;text-aling:center;font-style: 14pt Times New Roman;
width:300px; 
 height:250px
float:left;
  margin: 20px;
  background-image:url(pikl.png)width:10px; 
 height:10px
}
#b4{text-aling:center;font-style: 14pt Times New Roman;
width:60%;
float:left;
padding:0px;
float:left;
}
#b5{text-aling:center;font-style: 14pt Times New Roman;
width:12000px;
  padding: 190px;
  margin: 20px;
clear:both;}
#b0{
width:0px
}
