.ho1{background-color:gray;}
.ho2{background-color:blue;}
.ho3{background-color:orange;}
.ho4{background-color:red;}
.ho5{background-color:green;}
div{text-aling:center;font-style: 14pt Times New Roman;}
#b1{background-color:brown;
width:12000px;
  padding: 190px;
  margin: 20px;
}
#b2{
width:100%;}
#b3{background-color:#090;
width:20%; 
  float:left;}
#b4{background-color:#009;
width:60%;
float:left;
padding:0px;
}
#b5{background-color:#990;
width:20%;
float:left;}
#b6{background-color:#099;
width:100%;
clear:both;}
