div{border:solid 3px pink;
margin: 0px 0px 5px 0px;
}
#b1{background-color:#00CCFF;
width:100%;
  padding: 0px;
  margin: 0px;
}
#b2{
width:100%;}
#b3{background-color:#00CCFF;
  P.example {color: gray;}
    &lt;P class=&quot;example&quot;&gt;This is an example.&lt;/P&gt;
  padding:5px;
width:25%; 
  float:left;}
#b4{background-color:#00CCFF;
   padding:5px; 
width:60%;
float:left;
}
#b5{background-color:#00CCFF;
    padding:5px
width:13%;
float:left;}
#b6{background-color:#00CCFF;
width:100%;
clear:both;}
