.fg1 {font-family: Georgia, 'Times New Roman', Times, cursive;}
table, tr, td {border: solid 1px black;}
Тело {поле: 0px;}
DIV {

  отступы: 0px;
  поле: 0px 0px 5px 0px;
}
# B1 {цвет фона: # 999;
ширина: 100%;
  отступы: 0px;
  поле: 0px;
  background-image: url (logo1.png);
  фон-повторить: повтор-у;
  background-position: верхний центр;
}
#Би 2{
ширина: 100%;}
# B3 {цвет фона: # 090;
ширина: 20%; 
  плыть налево;}
# B4 {цвет фона: # 009;
ширина: 60%;
плыть налево;
обивка: 0px;
}
# B5 {цвет фона: # 990;
ширина: 20%;
плыть налево;}
# B6 {цвет фона: # 099;
ширина: 100%;
ясно: то и другое;}
