.h{background-color:beige;}
.ho1{background-color:gray;}
.ho2{background-color:blue;}
.ho3{background-color:orange;}
.ho4{background-color:red;}
.ho5{background-color:green;}
div{text-aling:center;font-style: 14pt Times New Roman;}
#b1{background-color:brown;text-aling:center;font-style: 14pt Times New Roman;
width:1200px;
  padding: 190px;
  margin: 20px;
}
#b2{text-aling:center;font-style: 14pt Times New Roman;
width:860px; 
height::820px
 margin: 20px;
float:left;}
#b3{;text-aling:center;font-style: 14pt Times New Roman;
width:280px; 
height::570px
float:left;
  margin: 20px;
}
#b4{text-aling:center;font-style: 14pt Times New Roman;
width:300;
float:left;
 height::250px
}
#b5{text-aling:center;font-style: 14pt Times New Roman;
width:1200px;
  height: 190px;
  margin: 20px;
clear:both;}

